<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driving Assist Web App</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>
  <body class="modern_font">
    <h1 style="text-align: center">Driving Assist Web App</h1>
    <div class="root tri-grid driving_window">
      <div class = "sidedriving_div">
        <h1 class = 'assist_title'>Session Info</h1>
        <p class = "assist_text">Current User: {{session_user}}</p>
      </div>
      <img class="camera-stream driving_div" src="/camera/stream" />
      <div class = 'sidedriving_div'>
        <h1 class = 'assist_title'>Driving Assist</h1>
        <p class = "assist_text">Text text</p>
      </div>
    </div>
  </body>
</html>
