body {
    background-color: 
    #192428;
    color:#ffffff;
    }
html{
    overflow:hidden;
}
.quad-grid {
    display: grid;
    width: 100%;
    height: 50rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.tri-grid {
    display: grid;
    width: 100%;
    height: 50rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 20px;
}

.quad {
    display: inline-grid;
}

.camera-stream {
    max-width: 100%;
    margin: auto auto;
    border-radius: 20px;
    aspect-ratio: 16/9;
    max-height: 80%;
}


.dark_grey {
    background-color: #272121;
}

.centering{
    text-align: center;
}

.modern_font {
    font-family: sans-serif;
    overflow: hidden;
}


.logpadding{
    padding-bottom: 300px;

}
.button {
    background-color: #315981ad;
    border: none;
    color: #ffffff;
    padding:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    cursor: pointer;
    border-radius:16px;
    margin-left:20px;
    margin-top:13px;
    font-weight: 600;
    transition:.3s;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-bottom:10px;
    padding-top:10px;
  }
.button:hover{
    background-color: 
    #1B1F3A;
    color: 
    #ffffff;
}
.submitpadding{
    padding-left: 4px;
    margin-top: -9px;
}

.root{
    border-width:0px;
    max-width:99%;
    margin:auto;
}

.driving_window{
    max-width:fit-content
}

.login{
    text-align: center;
    padding-bottom: 10px;


}

.assist_title{
    text-align: center;
    padding-inline: 30px;
}

.assist_text{
    margin: 25px;
}

.info{
    margin-bottom: 21px;
}
.loginbutton{
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
    margin-top:32px;
    ;
}
.confirmbutton{
    text-align: center;
    margin-top: 30px;
}
.confirmtext{
    font-weight:600;
    margin-bottom:1px;
    text-align: center;
}

.re_enter{
    text-align: center;
}

.submitbutton{
    margin-top: 42px;
}

div {

    border-radius: 22px;
    overflow:hidden;
	width: auto;
    margin:auto;
    max-width: 65%;
}
h1 {
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.inner_div{
    background-color: #1d2528;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 700px;
    border: solid;
    border-width: 1px;
    border-color: #626262;
}
.inner_div:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

.driving_div {
    background-color:#2d383c;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition:0.2s;
    margin-top:30px;
    margin-bottom:30px;
    max-width: auto;
}
.driving_div:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

.sidedriving_div {
    background-color: #1d2528;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 93%;
    aspect-ratio: 125/150;
    border: solid;
    border-color: #626262;
    border-width: 1px;
}
.sidedriving_div:hover {
    transform: translateY(-2px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }
input {
    transition:0.3s;
    border-radius: 6px;
    border-width:1px;
    border: color #000;
    border-style:solid;
    background-color:#315981ad;
    padding:6px;
    color:#ffffff;
    margin-left:1px;
    margin-right:1px;
    
}

input[type=text]:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    transition:0.3s;
}

input[type=password]:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) inset;
    transition:0.3s;
}

input::placeholder{
    color:#ffffff;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

p{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;  
}

.createusertext{
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:600;
}


.user_confirmation{
    margin-bottom:-17px;
}

